@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */
@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-light.ttf");
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: "Poppins";
}

body {
    /* background-color: #f8fafc; */
    @apply bg-gray-100;
    font-family: "OpenSans";
}

.input,
.textarea,
.select {
    @apply bg-gray-50 font-normal;
}
.btn {
    text-transform: unset;
}
.h1 {
    @apply text-2xl font-bold;
}
.h2 {
    @apply text-xl font-bold;
}
.h3 {
    @apply text-lg font-bold;
}

a,
button {
    @apply hover:transition hover:duration-300;
}

.Toastify__toast {
    border-radius: 15px;
}

.swiper-pagination-bullet-active {
    @apply !bg-primary;
}
.swiper-button-prev,
.swiper-button-next {
    @apply !text-primary;
}
